.my-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* styles.css */
.custom-textfield {
    -fx-background-color: #f2f2f2; /* Background color */
    -fx-border-color: #007bff;     /* Border color */
    -fx-border-width: 2px;         /* Border width */
    -fx-font-size: 14px;           /* Font size */
    -fx-text-fill: #333333;        /* Text color */
}

/* styles.css */
.port-label {
    -fx-font-size: 40px; /* Set the font size to 50px */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-font-family: "Comic Sans MS", cursive; /* Use a fancy font family (change to your desired font) */
    -fx-fill: black; /* Set the text color to a fancy color (change to your desired color) */
    /* Add any other styling properties you want */
}

/* styles.css */
.round-button {
    -fx-background-radius: 38; /* Make the button round */
    -fx-min-width: 76px; /* Adjust the button width as needed */
    -fx-min-height: 76px; /* Adjust the button height as needed */
    -fx-background-color: #007bff; /* Button background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-weight: bold; /* Make the text bold */
    /* Add any other styling properties you want */
}

/* styles.css */
.fancy-text {
    -fx-font-size: 30px; /* Adjust the font size as needed */
    -fx-font-family: "Comic Sans MS", cursive; /* Use a fancy font family (change to your desired font) */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-text-stroke-width: 2px; /* Text stroke width */
    /* Add any other styling properties you want */
}

.game-text{
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS", cursive;
    -fx-font-weight: bold; /* Make the text bold */
    -fx-text-stroke-width: 2px;

}

/* styles.css */
.circle-text-field {
    -fx-background-color: #007bff; /* Blue background color */
    -fx-text-fill: #ffffff; /* White text color */
    -fx-font-size: 20px;
    -fx-min-width: 30px; /* Set a fixed width for the circle */
    -fx-min-height: 30px; /* Set a fixed height for the circle */
    -fx-border-radius: 20; /* Makes it circular */
    -fx-background-radius: 15; /* Makes it circular */
    -fx-padding: 5px; /* Adjust padding as needed */
}





